<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<h1>🎬 Movie Recommendation System</h1>

<form method="POST">
    <input type="text" name="movie" placeholder="Enter movie name">
    <button type="submit">Recommend</button>
</form>

<div>
  {% if recommendations %}
    {% for i in range(recommendations|length) %}
        <div style="margin:20px;">
            <img src="{{ posters[i] }}" width="150" height="200">
            <h3>{{ recommendations[i] }}</h3>
        </div>
    {% endfor %}
{% endif %}

</div>


</body>
</html>
